@charset "utf-8";

html {
    font-size: 65%;
}
body {
    margin: 0;
    background: #1c0721;
}

.content{
    max-width: 1260px;
    margin: 0 auto;
}

.header {
    position: fixed;
    width: 100%;
    background: url("../img/header2.jpg");
}

.header__top{
    max-width: 1260px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 0 1em;
}

.main-container {
     padding: 130px 10px 10px;
     min-width: 600px;
     flex: 1 0 auto;
     display: flex;
     flex-wrap: wrap;
     box-sizing: border-box;
     border-radius: 10px;
 }

.content__aside {
    max-width: 250px;
    margin-right: 3%;
    width: 30%;
}

.content__events {
    width: 60%;
    flex: auto;
    padding: 0 4rem;
}

.events__happening-soon, .categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.burger-menu_opened{
     display: block;
 }

.footer{
    position: fixed;
    width: 100%;
    background: rgba(60, 0, 54, 0.81);
    bottom: 0;
}

@media screen and (max-width: 950px) {

    .content__events{
        padding: 0 1rem;
    }

    .header__top{
        padding: 0 0.5em;
    }

}

@media screen and (max-width: 600px) {
    .header{
        padding: 5px;
    }

    .content__aside {
        display: none;
    }

    .main-container {
        width: 100%;
        min-width: 280px;
        padding-top: 50px;
    }

    .event-link{
        align-items: center;
    }

    .content__aside_opened{
        display: block;
        position: fixed;
        right: 0;
        width: 100%;
        border: #5d1862 3px solid;
        border-radius: 10px;
    }

}
