.search-bar__input-text::-webkit-input-placeholder {color:white;}
.search-bar__input-text::-moz-placeholder          {color:white;}/* Firefox 19+ */
.search-bar__input-text:-moz-placeholder           {color:white;}/* Firefox 18- */
.search-bar__input-text:-ms-input-placeholder      {color:white;}
.search-bar__input-text::-webkit-search-cancel-button {display: none;}
.input-date::-webkit-clear-button, .input-date::-webkit-inner-spin-button {display: none;}


@charset "utf-8";

html {
    font-size: 65%;
}
body {
    margin: 0;
    background: #1c0721;
}

.content{
    max-width: 1260px;
    margin: 0 auto;
}

.header {
    position: fixed;
    width: 100%;
    background: url("../img/header2.jpg");

}

.header__top{
    max-width: 1260px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 0 1em;
}

.header__logo {
    color: transparent;
    background: url(../img/log.png) no-repeat;
    background-size: contain;
    padding: 30px 80px;
    margin-right: 1%;
}

.search-bar{
    min-width: 500px;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 1%;
}

.search-bar__input-text, .search-button {
    border: none;
    outline: none;
    border-radius: 3px;
}
.search-bar__input-text {
    width: 100%;
    color: white;
    font-size: 1.7rem;
    background: rgba(249, 0, 224, 0.35);
    border:  rgba(255, 255, 255, 0.22) 1px solid;
    padding: 10px 0 10px 30px;
}

.search-button{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.submit {
    background: url("../img/lup3.png");
    background-size:cover;
}

.setting {
    background: url("../img/points.png");
    background-size:cover;
    display: none;
}

.menu-itm {
    margin-right: 10px;
    font-size: 2.2rem;
    color: #eee;
    text-decoration: none;
}

.my-acc{
    padding-left: 35px;
    background: url("../img/user.png") no-repeat;
    background-size: contain;
}

.menu :last-child {
    margin: 0;
}

.header__navigation {
    padding: 0.8em 0;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.nav-itm {
    margin-right: 2.5%;
    font-size: 2.2rem;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.header__navigation :last-child {
    margin: 0;
}

.main {
     padding: 130px 10px 10px;
     min-width: 600px;
     width: 85%;
     flex: 1 0 auto;
     display: flex;
     flex-wrap: wrap;
     box-sizing: border-box;
     border-radius: 10px;
 }

.content__aside {
    max-width: 250px;
    margin-right: 3%;
    width: 30%;
}

.aside__title {
    font-size: 2rem;
    margin: 0 0 5px 0;
    text-align: center;
    width: 100%;
}

.location-form{
    border-radius: 5px;
    background: #f8f8f8;
    padding: 1rem;
}

.location-form__itm, .location-form__submit {
    margin: 0;
    border: none;
    outline: none;
    border-radius: 3px;
}

.location-form__itm {
    width: 100%;
    margin-bottom: 5px;
    color: black;
    border: #5d1862 1px solid;
    background: transparent;
    padding: 10px;
    box-sizing: border-box;
}

.location-form span {
    width: 30%;
    font-size: 1.7rem;
    font-weight: 500;
    float: left;
    text-align: right;
    padding: 5px 0;
}

.input-date {
    width: 70%;
    float: left;
}

.location-form__submit {
    background: #5d1862 url(../img/lup3.png) no-repeat;
    background-size: contain;
    padding-left: 25px;
    background-position: 40%;
    cursor: pointer;
    color: white;
    font-weight: 500;
    width: 100%;
    font-size: 1.7rem;
}

.content__events {
    width: 60%;
    flex: auto;
}


.section__title{
    font-size: 3em;
    margin:0 auto;
    text-align: center;
    color: #eeeeee;
    width: 100%;
}

.event {
    border-radius: 10px;
    background: #F8F8F8;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
}

.event__foto {
    width: 29%;
    margin-right: 1%;
}

.event__preview {
    width: 70%;
}

.foto__image{
    max-width: 100%;
}

.event__title{
    text-transform: uppercase;
}

.event__descrip{
    font-size: 1.5rem;
}

h4{
    font-size: 1.4rem;
}

.event__descrip p,h4{
    margin: 0;
}

.event__data{
    font-size: 1.2rem;
}

.happening_soon, .categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.hs-event, .category-event {
    width: 49%;
    margin-right: 1%;
    box-sizing: border-box;
}


.hs-event .event__foto, .hs-event .event__preview, .hs-event .event__foto .foto__image{
    width: 100%;
    margin: 0;
}

.category{
    color:white;
    border-bottom: #1c0721 1px solid;
    font-size: 2.3rem;
    padding: 5px;
    margin: 0;
    width: 100%;
    text-align: center;
    font-weight: 700;
}

.category-event {
    padding: 0;
    background: transparent;
}

.category__preview{
    padding: 10px;
    background: #F8F8F8;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.burger-icon{
    padding: 2px;
    display: none;
    top:0;
    height: 24px;
    width: 30px;
}

.burger-line{
    top:0;
    content: "";
    width: 24px;
    height: 5px;
    background: white;
    border-radius: 2px;
}

.burger-menu{
    padding: 10px 20px;
    z-index: 100;
    display: none;
    list-style-type: none;
    position: absolute;
    top: 35px;
    right: 10px;
    opacity: 0;
    line-height: 30px;
    background: rgba(61, 12, 63, 0.87);
    border: white 1px solid;
    border-radius: 10px;
    transition: all 1s;
}

.burger-menu li a{
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 2rem;
    text-decoration: none;
    color: white;
}


.burger-menu_opened{
     display: block;
     opacity: 1;
 }

.footer{
    position: fixed;
    width: 100%;
    background: rgba(60, 0, 54, 0.81);
    bottom: 0;
}

@media screen and (max-width: 900px) {

    .header__logo{
        padding: 2.5rem 6rem;
    }

    .search-bar{
        flex: 1 1 auto;
        min-width: 50px;
    }

}

@media screen and (max-width: 600px) {
    .header{
        padding: 5px;
    }

    .header__logo{
        padding: 1.7rem 4rem;
    }

    .search-bar__input-text {
        padding: 5px;
    }

    .burger-icon{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 0 0 auto;
        justify-content: space-around;
    }

    .header__navigation, .content__aside, .menu{
        display: none;
    }

    .main {
        width: 100%;
        min-width: 280px;
        padding-top: 50px;
    }

    .hs-event {
        width: 100%;
    }

    .hs-event .event__foto {
        width: 29%;
        margin-right: 1%;
    }

    .hs-event .event__preview {
        width: 70%;
    }

    .submit{
        right: 35px;
    }

    .setting{
        display: block;
    }

    .content__aside_opened{
        display: block;
        width: 100%;
        padding: 0 10%;
        margin: 0 auto;
    }

}
