@import url("./components/headline.component/headline.component.css");
@import url("./components/event-group.component/event-group.component.css");
@import url("./components/add-options.component/add-options.component.css");
@import url("./components/events.component/events.component.css");
@import url("./components/just-announced.component/just-announced.component.css");
@import url("./components/happening-soon.component/happening-soon.component.css");
@import url("./components/categories.component/categories.component.css");
@import url("./components/search-events.component/search-events.component.css");
@import url("./components/burger-menu.component/burger-menu.component.css");
@import url("./components/search-bar.component/search-bar.component.css");
@charset "utf-8";


html {
    font-size: 65%;
}
body {
    margin: 0;
    background: #1c0721;
}

a{
    color: black;
    text-decoration: none;
}

.content{
    max-width: 1260px;
    margin: 0 auto;
}

.main-container {
    padding: 130px 10px 10px;
    min-width: 600px;
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-radius: 10px;
}


#p_prldr{
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    background: rgba(60, 0, 54, 0.98);
    z-index: 100;
}

.contpre{
    width: 250px;
    height: 100px;
    position: absolute;
    left: 50%;top: 48%;
    margin-left:-125px;
    margin-top:-75px;
    color:#fff;
    font-size:40px;
    letter-spacing:-2px;
    text-align:center;
    line-height:35px;}

#p_prldr .svg_anm {
    position: absolute;
    width: 41px;
    height: 41px;
    background: url(./img/pufff.svg) center center no-repeat;
    background-size:41px;
    margin: -16px 0 0 -16px;}

.footer{
    position: fixed;
    width: 100%;
    background: rgba(60, 0, 54, 0.81);
    bottom: 0;
}

@media screen and (max-width: 950px) {

    .header__logo{
        padding: 2.0rem 3.8rem;
    }

    .header__search-bar{
        flex: 1;
        min-width: 50px;
    }

    .content__events{
        padding: 0 1rem;
    }

    .header__top{
        padding: 0 0.5em;
    }

}

@media screen and (max-width: 600px) {
    .header{
        padding: 5px;
    }

    .header__logo{
        padding: 1.7rem 4rem;
    }

    .search-bar__input-text {
        padding: 5px 75px 5px 5px;
    }

    .burger-icon{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 0 0 auto;
        justify-content: space-around;
    }

    .content__aside, .header__menu{
        display: none;
    }

    .main-container {
        width: 100%;
        min-width: 280px;
        padding-top: 100px;
    }

    .submit{
        right: 45px;
    }

    .setting{
        display: block;
    }

    .content__aside_opened{
        display: block;
        position: fixed;
        right: 0;
        width: 100%;
        border: #5d1862 3px solid;
        border-radius: 10px;
    }

}
