.page_button{
    background-size: 100%;
    cursor: pointer;
    top: 0;
    border: none;
    text-indent: -9999px;
    padding: 1rem 1.3rem;
}

.previous {
    background: url("../../img/row.png") no-repeat;
    background-size: 100%;
    background-position: center;
}

.next {
    background: url("../../img/row2.png") no-repeat;
    background-size: 100%;
    background-position: center;
    float:right;
}