.search-bar__input-text::-webkit-input-placeholder {color:white;}
.search-bar__input-text::-moz-placeholder          {color:white;}/* Firefox 19+ */
.search-bar__input-text:-moz-placeholder           {color:white;}/* Firefox 18- */
.search-bar__input-text:-ms-input-placeholder      {color:white;}
.search-bar__input-text::-webkit-search-cancel-button {display: none;}

.header__search-bar{
    min-width: 500px;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 1%;
}

.search-bar__input-text, .search-bar__button {
    border: none;
    outline: none;
    border-radius: 3px;
}
.search-bar__input-text {
    width: 100%;
    color: white;
    font-size: 1.7rem;
    background: rgba(249, 0, 224, 0.35);
    border:  rgba(255, 255, 255, 0.22) 1px solid;
    padding: 10px 40px 10px 30px;
}

.search-bar__button{
    background-size: 100%;
    min-width: 25px;
    height: 100%;
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 0;
}

.submit {
    background: url("../../img/lup3.png") no-repeat;
    background-size: 100%;
    background-position: center;
    text-indent: -9999px;
}

.setting {
    background: url("../../img/points.png");
    background-size: 100%;
    background-position: center;
    display: none;
    max-width: 30px;
    text-indent: -9999px;
}