.category{
    color:white;
    border-bottom: #1c0721 1px solid;
    font-size: 2.3rem;
    padding: 5px;
    margin: 0;
    width: 100%;
    text-align: center;
    font-weight: 700;
}

.category-event {
    padding: 0;
    background: transparent;
}

.category__preview{
    padding: 10px;
    background: #F8F8F8;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}
