option{
    background-color: #5d1862;
    color: white;
    font-size: 1.3rem;
}

.content__aside {
    max-width: 250px;
    margin-right: 3%;
    width: 30%;
}

.aside__title {
    font-size: 2.3rem;
    margin: 0 0 5px 0;
    text-align: center;
    width: 100%;
}

.aside__location-form{
    border-radius: 5px;
    background: #f8f8f8;
    padding: 1rem;
}

.location-form__item, .location-form__submit {
    margin: 0;
    border: none;
    outline: none;
    border-radius: 3px;
}

.location-form__item {
    width: 100%;
    margin-bottom: 5px;
    color: black;
    border: #5d1862 1px solid;
    background: transparent;
    padding: 10px;
    box-sizing: border-box;
}

#sub-category{
   display: none;
}

.aside__text {
    width: 30%;
    font-size: 1.7rem;
    font-weight: 500;
    float: left;
    text-align: right;
    padding: 10px 5px 10px 0;
    box-sizing: border-box;
}

.input-date {
    width: 70%;
}

.location-form__submit {
    padding: 10px;
    background: #5d1862;
    cursor: pointer;
    color: white;
    font-weight: 500;
    width: 100%;
    font-size: 1.7rem;
}

@media screen and (max-width: 600px) {
    .content__aside {
        z-index: 99;
    }
}